.section_1 {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.section_2 {
   height: 100vh;

   .square {
      height: 250px;
      width: 250px;
      background-color: salmon;
   }
}
