.header {
   @include container;
   @include f-normal;

   color: $white;

   .navbar {
      @include flexbox(flex, row, nowrap, space-between, flex-start);
      // @include neo(50px, 21px);
      @include richtext;

      h1 {
         @include f-big;
         color: $blue;
      }

      a {
         color: $red;

         &.second-anchor {
            color: $darkergray;
         }
      }
   }
}

.main {
   @include container;
   @include flexbox(flex, column, wrap, center, center);
}
