.header {
   @include container;
   @include f-normal;

   color: $white;

   .navbar {
      @include flexbox(flex, row, nowrap, space-between, flex-start);
      @include richtext;
   }
}

.main {
   @include container;
   @include flexbox(flex, column, wrap, center, center);

   h2 {
      @include f-big;
      color: $darkgray;
   }

   // .planet_card {
   //    @include container;
   //    @include flexbox(flex, row, wrap, space-between, flex-start);
   //    background-color: rgba(0, 0, 0, 0.3);
   //    gap: 1rem;
   //    max-width: 650px;

   //    p {
   //       @include f-medium;
   //       color: $darkgray;
   //       line-height: 30px;

   //       strong {
   //          color: $darkergray;
   //       }
   //    }
   // }
}

.slide {
   color: $red;
}
