.header {
   @include container;
   @include f-normal;

   color: $white;

   .navbar {
      @include flexbox(flex, row, nowrap, space-between, flex-start);
      @include richtext;
   }
}

.main {
   @include container;

   h2 {
      @include f-big;
      color: $darkgray;
   }
}

.swiper-slide-page1 {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
