// reset
@import 'globals/reset';

// basic global styles
@import 'globals/base';

body {
   background-color: $black;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

// Flechas Swiper (TODO -> Cambiar!)
.swiper-button-next::after,
.swiper-button-prev::after {
   background: transparent;
   color: transparent;

   // :hover {
   //    color: $red;
   // }

   content: '';
   background: url('/assets/astronaut_02.png') center no-repeat;
   background-size: contain;

   display: inline-block;
   justify-content: flex-start;
   // height: 150px;
   // width: 150px;
   // margin-left: 1rem;
   // margin-right: 5rem;
}
