// Colors
$black: #000000;
$blue: #0b3d91;
$bluelight: #5d7fb9;
$darkergray: #888888;
$darkgray: #cacaca;
$gray: #eeeeee;
$purple: #8b5cf6;
$red: #fc3d21;
$white: #ffffff;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
